<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CustomersList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>


</head>
<body>


<div id="app">
    <table class="customersTable">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="customer in customers" v-bind:key="customer.id">
            <td>{{customer.id}}</td>
            <td>{{customer.name}}</td>
            <td>{{customer.surname}}</td>
        </tr>
        </tbody>
    </table>
</div>


<script src="./js/index.js"></script>
</body>
</html>